# =============================
# 基础运行
# =============================
# 是否启用接口文档（Swagger/Redoc）。生产环境建议关闭
# 可选: true/false（大小写不敏感）
ENABLE_DOCS=true

# 日志级别
# 可选: DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL=info


# =============================
# 数据库（PostgreSQL）连接
# =============================
# 数据库用户名
DB_USERNAME=postgres
# 数据库密码
DB_PASSWORD=postgres
# 数据库主机名或 IP
DB_HOST=localhost
# 数据库端口
DB_PORT=5432
# 数据库名
DB_DATABASE=fastapi-nextjs
